{{!-- This is the template for Handlebars to render onto --}}

<h2>Burger choices:</h2>
<ul>
    {{#each burger_name}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers devoured:</h2>

<ul>
    {{#each burger_name}}
    {{#if devoured}}
    {{> burger_name/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>



<h2>Enter a burger you would like to eat!</h2>
<form class="create-form">

    <div class="form-group">
        <label for="brg">Burger:</label>
        <input type="text" id="brg" name="type">
    </div>
</form>

{{!-- This is the button for the user to submit their input into the database --}}
<div>
    <form action="/" method="POST">
        <textarea type="text" name="burgers"></textarea>


        <button type="submit">Submit</button>
    </form>
</div>